.page-template-page-research-repository-landing {
  article {
    margin-bottom: 0;
    .img-container {
      min-height: 288px;
      background-position: center;
      background-size: cover;
    }
    main {
      margin-bottom: 1.5em;
      .img-container {
        min-height: 300px;
      }
    }
  }
  .secondary-content {
    margin-bottom: 1.5em;
    background-color: #ffffff;
    padding: 20px;
    .content-box:first-of-type {
      margin-top: 0;
    }
    .content-box {
      margin-top: 4em;
    }
  }
}
.page-template-page-research-repository-details {
  .entry-meta {
    font-size: .9em;
  }
  .file-link {
    margin-top: 1em;
    a {
      float: right;
    }
  }
}

@media (max-width: 767px) {
  .page-template-page-research-repository-landing {
    main {
      margin-bottom: 1.5em;
      article {
        margin-bottom: 0;
      }
      .secondary-content {
        margin-bottom: 0;
      }
    }
  }
}

.page-template-section-landing-image-banner {
  .banner.feature-img-bg {
    @media (max-width:480px) {
      background-position: right;
    }
    .entry-content {
      p {
        margin: 0;
        padding:18px 0 0 0;
        @media (max-width: 1128px){
          padding:6px 0 0 0;
        }
      }
      .ghost-button{
        line-height: 1.4em;
        padding:10px;
      }
    }
  }
}