main {
  margin-bottom: 1.5em;
  article {
    margin-bottom: 0;
    .img-container {
      min-height: 300px;
    }
  }
  .secondary-content {
    background-color: #ffffff;
    padding: 20px;
    .content-box {

    }
  }
}
p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  main {
    margin-bottom: 1.5em;
    article {
      margin-bottom: 0;
    }
  }
}